@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*** Light Mode Theme ***/
:root, [data-theme="default"] {
    --card-bg-color: #ECFDF5;
    --card-border-color:  #10B981;
    --button-box-bg-color: #2B283A;
    --sun-bg-color: #e7ff1f;
    --sun-border-color: #2B283A;
    --sun-div-bg-color: #e7ff1f;
    --sun-after-bg-color: #2B283A;
    --heading-h1-color: #2B283A;
    --paragraph-color: #6B7280;
    --green-text: #10B981;
    --settings-color: #273549;
    --button-bg-color: #10B981;
    --button-bg-hover: #273549;
    --button-text-color: #fff;
    --button-text-color-hover: #fff;
    --separator-color: rgba(58, 56, 56, 0.123);
    --input-bg-color: #273549;
    --input-border-color: rgba(255, 255, 255, 0.252);
    --input-text-color: #55F991;
    --switch-slider-color: #ccc;
    --switch-slider-before-color: #fff;
    --input-checked-bg-color: #10B981;
    --input-focus-bg-color: #10B981;
}

/*** Dark Mode Theme ***/
[data-theme="dark"] {
    --card-bg-color: #1F2937;
    --card-border-color: #10B981;
    --button-box-bg-color: #10B981;
    --sun-bg-color: #fff;
    --sun-border-color: #10B981;
    --sun-div-bg-color: #fff;
    --sun-after-bg-color: #10B981;
    --heading-h1-color: #fff;
    --paragraph-color: #D5D4D8;
    --green-text: #4ADF86;
    --settings-color: aliceblue;
    --button-bg-color: #10B981;
    --button-bg-hover: #273549;
    --button-text-color: #fff;
    --button-text-color-hover: #fff;
    --separator-color: rgba(255, 255, 255, 0.418);
    --input-bg-color: #273549;
    --input-border-color: rgba(255, 255, 255, 0.252);
    --input-text-color: #55F991;
    --switch-slider-color: #ccc;
    --switch-slider-before-color: #fff;
    --input-checked-bg-color: #10B981;
    --input-focus-bg-color: #10B981;
}



* {
    margin: 0 auto;
    box-sizing: none;
}

.container {
    width: 440px;
    border: 6px solid var(--card-border-color);
    padding: 70px 52px;
    display: flex;
    flex-direction: column;
    background: var(--card-bg-color);
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
}

.button-box {
    width: 45px;
    height: 45px;
    background: var(--button-box-bg-color);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.sun {
    width: 15px;
    height: 15px;
    background: var(--sun-bg-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 2px solid var(--sun-border-color);
}

.sun div {
    height: 2px;
    background: var(--sun-div-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: width 0.5s;
}

.sun .line1 {
    width: 30px;
    transform: translate(-50%, -50%);
}

.sun .line2 {
    width: 30px;
    transform: translate(-50%, -50%) rotate(90deg);
}

.sun .line3 {
    width: 25px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.sun .line4 {
    width: 25px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sun::after {
    content: '';
    width: 15px;
    height: 15px;
    background: var(--sun-after-bg-color);
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: -16px;
    transition: 0.01s;
}

.sun.night::after {
    top : -5px;
    right: -5px;
}

.sun.night div {
    width: 0;
}

.container__heading {
    margin-left: 0;
    margin-bottom: 25px;
}

.container__heading h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Karla';
    line-height: 40px;
    letter-spacing: -0.025em;
    color: var(--heading-h1-color);
}

.container__heading p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--paragraph-color);
}

.green-text {
    color: var(--green-text);
}

.container__settings {
    margin-left: 0;
    margin-bottom: 15px;
    color: var(--settings-color);
    font-family: 'Inter';
}

.container__buttons {
    margin-left: 0;
}

#generate-btn {
    margin-right: 10px;
}

button {
    width: 191px;
    height: 42px;
    background: var(--button-bg-color);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    color: var(--button-text-color);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all 300ms ease;
}

button:hover {
    background: var(--button-bg-hover);
    color: var(--button-text-color-hover);
}

.container__separator {
    margin: 35px 0;
    border: 1px solid var(--separator-color);
}

input {
    width: 211px;
    height: 39px;
    background: var(--input-bg-color);
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    color: var(--input-text-color);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

input#length {
    width: auto;
}

.wrapper__setting {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 10px;
    padding-top: 15px ;
}

.advanced__settings {
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 5px;
}

label[for="toggleSwitch"] {
    margin-left: 0;
}
  
.switch {
    position: relative;
    display: flex;
    width: 50px;
    height: 25px;
    margin-right: 0;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-slider-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: var(--switch-slider-before-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--input-checked-bg-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--input-focus-bg-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}