@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0 auto;
    box-sizing: none;
}

.container {
    width: 440px;
    border: 6px solid #10B981;
    padding: 70px 52px;
    display: flex;
    flex-direction: column;
    background: #1F2937;
    margin-top: 50px;
    border-radius: 10px;
}
.container__heading {
    margin-left: 0;
    margin-bottom: 25px;
}

.container__heading h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Karla';
    line-height: 40px;
    letter-spacing: -0.025em;
    color: white;
}

.container__heading p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #D5D4D8;
}

.green-text {
    color: #4ADF86;
}

.container__settings {
    margin-left: 0;
    margin-bottom: 15px;
    color: aliceblue;
    font-family: 'Inter';
}

.container__buttons {
    margin-left: 0;
}

.generate-btn {
    margin-right: 10px;
}

button {
    width: 191px;
    height: 42px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all 300ms ease;
}

button:hover {
    background: #fff;
    color: #273549;
}

.container__separator {
    margin: 35px 0;
    border: 1px solid rgba(255, 255, 255, 0.418);
}

input {
    width: 211px;
    height: 39px;
    background: #273549;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.252);
    border-radius: 4px;
    color: azure;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

input#length {
    width: auto;
}

.wrapper__setting {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 10px;
    padding-top: 15px ;
}

.advanced__settings {
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 5px;
}

label[for="toggleSwitch"] {
    margin-left: 0;
}
  
.switch {
    position: relative;
    display: flex;
    width: 50px;
    height: 25px;
    margin-right: 0;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #10B981;
}

input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}